*{
    width: 100%;
    height: auto;
    margin: 0;
}
body{
    background-color: #fff1e4;
    min-height: 100vh;
    flex-direction: column;
    font-family:  "Montserrat", sans-serif;
}
main{
    max-width: 800px;
    margin: auto;
}
nav{
    height:60px;
    background-color: #5d3d1d ;
    color: white; 
    font-family: "Playfair Display", serif;
}
nav ul{
    list-style: none;
    display: flex;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.intro{
    display: flex;
    padding: 10px;
}
.hello{
    text-align: center;
    margin: auto;
}
.hello h1{
    color:palevioletred;
}
.portfolio{
    height:200px;
    display: flex;
}
.portfolio1{
    text-align: center;
    
}
.portfolio1 img{
    height:150px;
    width:250px;
    border-radius: 10px;
}
.portfolio2{
    text-align: center;
}
.portfolio2 img{
    height: 150px;
    width: auto;
}
.contact{
    display: flex;
    height: 200px;
}
.contact1{
    text-align: center;
    margin: auto;
}
.contact2{
    text-align: center;
    margin: auto;
}
.contact2 ul{
    list-style: none;
}
.skills{
    display: flex;
    height:200px;
}
.skills li{
    list-style:none;
}
.skills1{
    text-align: center;
    margin: auto;
}
.skills2{
    text-align: center;
    margin: auto;
}
.education{
    margin:20px;
    height:200px;
}
.uni{
    display: flex;
}
.mmu2{
    text-align: center;
    margin: auto;
}
.mmu{
    text-align: center;
    margin: auto;
}
.mmu img{
    height: 100px;
    width: 100px;
}
.ingressive{
    display: flex;
}
.ing2{
    text-align: center;
    margin: auto;
}
.saf{
    display: flex;
    padding: 20px;
}
.saf1{
    text-align: center;
    margin: auto;
}
.saf2 img{
    height: 150px;
    width: 250px;
    justify-content: center;
}


footer{
    height:100px;
    background-color: #5d3d1d;
    position: fixed;

}